<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 2</title>

    <!-- Styles -->
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form-box col-md-10 text-center">
                <h1>Add user</h1>
                <p><a href="/">back to all users</a></p>
                <form class="user-form" method="POST" action="/adduser">
                    {{ form.hidden_tag() }}
                    <div class="user-form-group">
                        {{ form.first_name.label }}:
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                        <p class="user-error-message">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="user-form-group">
                        {{ form.age.label }}:
                        {{ form.age }}
                        {% if form.age.errors %}
                        {% for error in form.age.errors %}
                        <p class="user-error-message">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="user-form-submit">
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>